@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}
header{
    height: 90px;
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}
.header__logo:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav__links{
    display: flex;
    list-style: none;
}
.nav__link{
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
.nav__link:hover{
    color: #bdae82;
    transition-duration: 0.5s;
}
.nav__link-en{
    padding-left: 30px;
    color: #bdae82;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.slash{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.nav__link-ru{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #bdae82;
}
.section-welcome{
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center -90px;
    font-family: 'Inter', sans-serif;
    height: 910px;
}
.welcome-wrapper{
    height: 330px;
    margin-left: 5.56%;
    margin-right: 59.72%;
    margin-top: 185px;
}
.section-welcome__title{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
}
.section-welcome__text{
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.section-welcome__button{
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}
.section-welcome__button:hover{
    color: white;
    transition-duration: 0.5s;
}
.button__text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.section-skills__items{
    display: flex;
}
.section-skills__item{
    text-align: center;
    width: 320px;
    height: 240px;
    padding: 60px;
}
.item__title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
}
.item__text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.section-portfolio__title{
    margin-bottom: 60px;
}
.portfolio__buttons{
    text-align: center;
}
.section-portfolio__btn{
    width: 220px;
    height: 55px;
    font-size: 20px;
    background-color: black;
    font-family: 'Inter';
    color: #bdae82;
    border: 1px solid #bdae82;
    margin: 5px;
}
.section-portfolio__btn:hover{
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
}
.section-portfolio__btn-gold{
    background-color: #bdae82;
    color: black;
}
.portfolio__images-row{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.portfolio__images-row__image{
    padding: 10px;
}
.section-video__video{
    height: 705px;
    background-image: url("../assets/images/video-player.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-video__title{
    padding-top: 50px;
    margin-bottom: 60px;
}
.section-video__icon:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
    cursor: pointer;
}
.section-price__title{
    margin-top: 50px;
    margin-bottom: 60px;
}
.price-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-item{
    width: 450px;
    height: 505px;
    text-align: center;
    border: 3px solid #bdae82;
    margin-right: 25px;
    margin-bottom: 100px;
}
.price-item:last-child{
    margin-right: 0;
}
.price-item__title{
    padding-top: 43px;
    font-family: 'Merriweather';
    font-size: 28px;
    font-weight: 700;
}
.price-item__price{
    font-family: 'Merriweather';
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #bdae82;
}
.price-item__text{
    font-family: 'Inter';
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 18px;
}
.price-item__text:last-child{
    padding-bottom: 0;
}
.price-item__btn{
    background-color: #bdae82;
    width: 220px;
    height: 55px;
    font-size: 20px;
    font-family: 'Inter';
    margin-top: 43px;
}
.price-item__btn:hover{
    cursor: pointer;
}
.section-contacts{
    background-image: url("../assets/images/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.section-contacts__title{
    margin-bottom: 40px;
    margin-top: 60px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    color: #bdae82;
    margin-right: 228px;
}
.section-contacts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form-input{
    margin-bottom: 20px;
    height: 50px;
    background-color: transparent;
    width: 450px;
    border: 2px solid #bdae82;
}
.form-input::placeholder{
    color: #bdae82;
    font-size: 20px;
    text-indent: 20px;
    font-family: 'Inter';
    font-size: 20px;
}
.form-message{
    border: 2px solid #bdae82;
    background-color: transparent;
    width: 450px;
    height: 100px;
}
.form-message::placeholder{
    padding-top: 5px;
    color: #bdae82;
    font-size: 20px;
    text-indent: 20px;
    font-family: 'Inter';
    font-size: 20px;
}
.form-btn{
    background-color: #bdae82;
    width: 220px;
    height: 55px;
    margin-top: 30px;
    font-family: 'Inter';
    font-size: 20px;
}
.form-btn:hover{
    cursor: pointer;
}
footer{
    height: 150px;
}
.footer-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-data{
    display: flex;
}
.footer-data__text{
    margin: 50px 0;
    margin-right: 20px;
    font-family: 'Inter';
    font-size: 20px;
}
.footer-data__text:last-child{
    margin-right: 0;
}
.footer-data__image{
    margin-right: 25px;
    width: 32px;
    height: 32px;
}
.footer-data__image:hover{
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.footer-data__image:last-child{
    margin-right: 0;
}